body {
    background-repeat: no-repeat;
    background-image: url('/image/achtergrond.jpg');
    background-size: cover;
}
 
.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.wrap-inner {
    position: relative;
    display: inline-block;
 
}
 
.game {
    margin-top: 10px;
}
 
.cell {
 
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
 
.gopher,
.bomb {
    width: 150px;
    height: 150px;
    bottom: 0;
    position: absolute;
    transition: bottom 1s;
}
 
.start {
    margin: 10px;
    padding: 10px;
    background-color: green;
    font-family: sans-serif;
    font-size: larger;
 
}
 
.info {
    background-color: lightblue;
    padding: 5px;
    font-size: larger;
    padding-left: 120px;
}
 
.gopher {
    background: url(image/mole.png) center center no-repeat;
    background-size: 150px 150px;
}
 
.dead {
    background: url(image/mole-whacked.png) center center no-repeat;
    background-size: 150px 150px;
}
 
.bomb {
    background: url(image/bomb.png) center center no-repeat;
    background-size: 150px 150px;
}
 
.boom {
    background: url(image/explode.png) center center no-repeat;
    background-size: 150px 150px;
}
 
.hidden {
    bottom: -150px;
}
 
.hole {
    background: url(image/mole-hole.png) center center no-repeat;
    width: 150px;
    height: 110px;
    position: absolute;
    bottom: 0;
    background-size: 150px 110px;
}
 
.hole-front {
    background: url(image/mole-hole-front.png) center center no-repeat;
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: 0;
    background-size: 150px 20px;
}
 
@media screen and (max-width: 539px) {
    .cell {
        width: 100px;
        height: 100px;
    }
 
    .gopher,
    .bomb {
        width: 100px;
        height: 100px;
    }
 
    .gopher {
        background-size: 100px 100px;
    }
 
    .dead {
        background-size: 100px 100px;
    }
 
    .bomb {
        background-size: 90px 100px;
    }
 
    .boom {
        background: url(image/explode.png) center center no-repeat;
        background-size: 100px 100px;
    }
 
    .hidden {
        bottom: -100px;
    }
 
    .hole {
        width: 100px;
        height: 80px;
        background-size: 100px 80px;
    }
 
    .hole-front {
        width: 100px;
        height: 18px;
        background-size: 100px 18px;
    }
}

.gat1 {
    position: absolute;
    top: 651px;
    left: 432px;
}

.gat2 {
    position: absolute;
    top: 769px;
    left: 651px;
}

.gat3 {
    position: absolute;
    top: 527px;
    left: 643px;
}

.gat4 {
    position: absolute;
    top: 640px;
    left: 865px;
}

.gat5 {
    position: absolute;
    top: 517px;
    left: 1020px;
}

.gat6 {
    position: absolute;
    top: 626px;
    left: 1276px;
}

.gat7 {
    position: absolute;
    top: 776px;
    left: 1175px;
}